@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "oakbill";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #FCFAF7;
  --color-base-200: #FFEEE3;
  --color-base-300: #FED4B6;
  --color-base-content: #3B332D;
  --color-primary: #3B332D;
  --color-primary-content: #FCFAF7;
  --color-secondary: #FFAA74;
  --color-secondary-content: #3B332D;
  --color-accent: #FFAA74;
  --color-accent-content: #3B332D;
  --color-neutral: #3B332D;
  --color-neutral-content: #FCFAF7;
  --color-info: #8B6B47;
  --color-info-content: #FCFAF7;
  --color-success: #7A9B2E;
  --color-success-content: #FCFAF7;
  --color-warning: #FF8F49;
  --color-warning-content: #3B332D;
  --color-error: #FF6E5E;
  --color-error-content: #3B332D;

  /* border radius */
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 1;
}